.container {
  min-height: calc(100vh - 60px);
  padding: 30px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.totalWrapper {
  font-size: 18px;
  margin-top: 15px;
}

.total {
  font-weight: 500;
}

.sumWrapper {
  font-size: 18px;
  margin-top: 8px;
}

.sum {
  font-weight: 500;
}

.toPaymentButton {
  display: block;
  background-color: #0080ff;
  padding: 15px 0;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}
